@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #0d0d16; }
::-webkit-scrollbar-thumb { background: #1f1f2a; border-radius: 0px; }
::-webkit-scrollbar-thumb:hover { background: #8eff71; }

